<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbap.kbs.dashboard.mapper.ChartMapper">

  <!-- 대시보드 상단 card 데이터 -->
  <select id="getChartData" resultType="com.kimbap.kbs.dashboard.service.ChartVO">
    SELECT
        (SELECT COUNT(*) 
         FROM prod_inbo 
         WHERE TRUNC(inbo_dt) = TRUNC(SYSDATE)) AS prodInbo,
        
        (SELECT COUNT(*) 
         FROM prod_return 
         WHERE TRUNC(return_dt) = TRUNC(SYSDATE)) AS prodReturn,
        
        (SELECT COUNT(*) 
         FROM release_ord ro
         JOIN release_ord_master rom ON ro.rel_mas_cd = rom.rel_mas_cd
         WHERE TRUNC(rom.rel_dt) = TRUNC(SYSDATE)) AS releaseOrd,
        
        (SELECT COUNT(*) 
         FROM prod_rel 
         WHERE TRUNC(rel_dt) = TRUNC(SYSDATE)) AS prodRel
    FROM dual
</select>

  <!-- 파이차트 데이터 -->
  <select id="getPieData" resultType="com.kimbap.kbs.dashboard.service.ChartVO">
          SELECT 
      b.prod_name,
      SUM(REL_QTY) AS pieTotalQty
    FROM 
      PROD_REL a
      JOIN product b
      ON a.pcode = b.pcode
    WHERE 
      TO_DATE(SUBSTR(LOT_NO, 9, 8), 'YYYYMMDD') BETWEEN
      TRUNC(SYSDATE, 'MM')
      AND LAST_DAY(SYSDATE)
    GROUP BY 
      b.prod_name
    ORDER BY 
      pieTotalQty DESC
  </select>
  
  <!-- 바 차트 월별 매출 데이터-->
  <select id="getBarData" resultType="com.kimbap.kbs.dashboard.service.ChartVO">
    SELECT 
      TO_CHAR(TO_DATE(SUBSTR(LOT_NO, 9, 8), 'YYYYMMDD'), 'YYYY-MM') AS month,
      SUM(TO_NUMBER(REGEXP_SUBSTR(REL_QTY, '[0-9]+')) * UNIT_PRICE) AS totalSales
    FROM 
      PROD_REL
    GROUP BY 
      TO_CHAR(TO_DATE(SUBSTR(LOT_NO, 9, 8), 'YYYYMMDD'), 'YYYY-MM')
    ORDER BY 
      month
  </select>

  <!-- 금일 요청주문 목록 -->
  <select id="getOrderData" resultType="com.kimbap.kbs.dashboard.service.ChartVO">
  SELECT
      a.ord_dt,
      b.cp_name,
      SUM(c.ord_qty) AS ordTotalQty,
      c.deli_avail_dt,
      a.ord_status_customer AS ordDStatus
  FROM order_list a
  JOIN company b ON a.cp_cd = b.cp_cd
  JOIN order_d  c ON a.ord_cd = c.ord_cd
  WHERE a.ord_dt &gt;= TRUNC(SYSDATE)
    AND a.ord_dt &lt;  TRUNC(SYSDATE) + 1
  GROUP BY
      a.ord_dt, b.cp_name, c.deli_avail_dt, a.ord_status_customer
  </select>

</mapper>