<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbap.kbs.mapper.MemberMapper">

<select id="getUserInfo" resultType="MemberVO"> <!-- 로그인 -->
SELECT   a.id
        ,a.pw
        ,b.emp_name
        ,b.tel
FROM    t_member a JOIN t_employee b
ON      a.emp_code = b.emp_code
WHERE   a.id = #{id}
	</select>
</mapper>