<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbap.kbs.order.mapper.OrderMapper">
    <!-- 주문 등록 -->
    <insert id="insertOrderMaster" parameterType="com.kimbap.kbs.order.service.OrderVO">
        INSERT INTO order_list (
            ord_cd,
            cp_cd,
            ord_dt,
            note,
            deli_req_dt,
            deli_add,
            ex_pay_dt,
            ord_total_amount,
            regi,
            reg_dt,
            ord_status_internal,
            ord_status_customer,
            is_used
        )
        VALUES (
            #{ordCd},
            #{cpCd},
            #{ordDt},
            #{note},
            #{deliReqDt},
            #{deliAdd},
            #{exPayDt},
            #{ordTotalAmount},
            #{regi},
            SYSDATE,
            #{ordStatusInternal},
            #{ordStatusCustomer},
            #{isUsed}
        )
    </insert>

    <!-- 주문 상세 등록 -->
    <insert id="insertOrderDetail" parameterType="com.kimbap.kbs.order.service.OrderDetailVO">
        INSERT INTO order_d (
            ord_d_cd,
            ord_cd,
            pcode,
            prod_ver_cd,
            ord_qty,
            deli_avail_dt,
            unit_price,
            ord_d_status,
            is_used
        )
        VALUES (
            #{ordDCd},
            #{ordCd},
            #{pcode},
            #{prodVerCd},
            #{ordQty},
            #{deliAvailDt},
            #{unitPrice},
            #{ordDStatus},
            #{isUsed}
        )
    </insert>

    <!-- 오늘 날짜 기준 주문코드 최대값 조회 -->
    <select id="getLatestOrderCode" resultType="String">
        SELECT MAX(ord_cd)
        FROM order_list
        WHERE SUBSTR(ord_cd, 5, 4) = TO_CHAR(SYSDATE, 'YYYY')
    </select>

    <!-- 주문 상세 코드 자동 생성 -->
    <select id="getGeneratedOrderDetailCode" resultType="string">
        SELECT fn_create_pk_code('order_d') FROM dual
    </select>

    <!-- 주문 상세 시퀀스 번호 조회 -->
    <select id="getNextOrderDetailSeq" resultType="int">
        SELECT SEQ_ORDER_D.NEXTVAL FROM dual
    </select>

    <!-- 주문 목록 조회 -->
    <select id="getOrderList" parameterType="map" resultType="com.kimbap.kbs.order.service.OrderVO">
        SELECT 
            ord_cd AS ordCd,
            cp_cd AS cpCd,
            cp_name AS cpName,
            prod_name AS prodName,
            total_ord_qty AS totalQty,
            total_return_qty AS returnQty,
            total_amount AS totalAmount,
            ord_dt AS ordDt,
            deli_req_dt AS deliReqDt,
            note,
            ord_status_internal AS ordStatusInternal,
            ord_status_customer AS ordStatusCustomer
        FROM vw_order_list
        WHERE is_used = 'f1'

        <!-- 공통 검색 조건 -->
        <if test="ordCd != null and ordCd != ''">
            AND ord_cd LIKE '%' || #{ordCd} || '%'
        </if>

        <!-- 주문일자 범위 조건 -->
        <if test="ordDtStart != null and ordDtStart != ''">
            AND TRUNC(ord_dt) &gt;= TO_DATE(#{ordDtStart}, 'YYYY-MM-DD')
        </if>
        <if test="ordDtEnd != null and ordDtEnd != ''">
            AND TRUNC(ord_dt) &lt;= TO_DATE(#{ordDtEnd}, 'YYYY-MM-DD')
        </if>

        <!-- 납기일자 범위 조건 -->
        <if test="deliReqDtStart != null and deliReqDtStart != ''">
            AND TRUNC(deli_req_dt) &gt;= TO_DATE(#{deliReqDtStart}, 'YYYY-MM-DD')
        </if>
        <if test="deliReqDtEnd != null and deliReqDtEnd != ''">
            AND TRUNC(deli_req_dt) &lt;= TO_DATE(#{deliReqDtEnd}, 'YYYY-MM-DD')
        </if>

        <if test="ordStatusInternal != null and ordStatusInternal != ''">
            AND ord_status_internal = #{ordStatusInternal}
        </if>
        <if test="ordStatusCustomer != null and ordStatusCustomer != ''">
            AND ord_status_customer = #{ordStatusCustomer}
        </if>

        <if test="cpName != null and cpName != ''">
            AND cp_name LIKE '%' || #{cpName} || '%'
        </if>

        <if test="cpCd != null and cpCd != ''">
            AND cp_cd = #{cpCd}
        </if>

        ORDER BY ord_cd DESC
    </select>



    <!-- 주문 비활성화 -->
    <update id="deactivateOrder" parameterType="String">
        UPDATE order_list
        SET is_used = 'f2'
        WHERE ord_cd = #{ordCd}
    </update>

    <!-- 주문 마스터 단건 조회 -->
    <select id="selectOrder" parameterType="string" resultType="com.kimbap.kbs.order.service.OrderVO">
        SELECT
            o.ord_cd AS ordCd,
            o.cp_cd AS cpCd,
            c.cp_name AS cpName,
            c.unsettled_amount AS unsettledAmount,
            o.ord_dt AS ordDt,
            o.note,
            o.deli_req_dt AS deliReqDt,
            o.ord_status_internal AS ordStatusInternal,
            o.ord_status_customer AS ordStatusCustomer,
            o.deli_add AS deliAdd,
            o.regi,
            o.reg_dt AS regDt,
            o.ord_total_amount AS ordTotalAmount,
            o.cur_pay_amount AS curPayAmount,
            o.ex_pay_dt AS exPayDt,
            o.act_pay_dt AS actPayDt,
            o.is_used AS isUsed
        FROM order_list o
        JOIN company c ON o.cp_cd = c.cp_cd
        WHERE o.ord_cd = #{ordCd}
    </select>

    <!-- 주문 상세 조회(단건조회) -->
    <select id="selectOrderDetail" parameterType="string" resultType="com.kimbap.kbs.order.service.OrderDetailVO">
        SELECT
            od.ord_d_cd AS ordDCd,
            od.ord_cd AS ordCd,
            od.pcode,
            p.prod_name AS prodName,
            od.prod_ver_cd AS prodVerCd,
            od.ord_qty AS ordQty,
            od.unit_price AS unitPrice,
            od.deli_avail_dt AS deliAvailDt,
            od.ord_d_status AS ordDStatus,
            (od.ord_qty * od.unit_price) AS totalAmount,
            od.is_used AS isUsed
        FROM order_d od
        JOIN product p ON od.pcode = p.pcode
        WHERE od.ord_cd = #{ordCd}
    </select>

    <!-- 주문 마스터 수정 -->
    <update id="updateOrderMaster" parameterType="com.kimbap.kbs.order.service.OrderVO">
        UPDATE order_list
        SET 
            ord_dt = #{ordDt},
            deli_req_dt = #{deliReqDt},
            ex_pay_dt = #{exPayDt},
            deli_add = #{deliAdd},
            note = #{note},
            ord_total_amount = #{ordTotalAmount},
            ord_status_internal = #{ordStatusInternal},
            ord_status_customer = #{ordStatusCustomer}
        WHERE ord_cd = #{ordCd}
    </update>

    <!-- 주문 상세 수정 -->
    <update id="updateOrderDetail" parameterType="com.kimbap.kbs.order.service.OrderDetailVO">
        UPDATE order_d
        SET
            pcode = #{pcode},
            prod_ver_cd = #{prodVerCd},
            ord_qty = #{ordQty},
            unit_price = #{unitPrice},
            deli_avail_dt = #{deliAvailDt},
            ord_d_status = #{ordDStatus},
            is_used = #{isUsed}
        WHERE ord_d_cd = #{ordDCd}
    </update>

    <!-- 주문 상세 전체 삭제 -->
    <delete id="deleteOrderDetails" parameterType="string">
        DELETE FROM order_d
        WHERE ord_cd = #{ordCd}
    </delete>

    <!-- 주문 상태 수정 -->
    <update id="updateOrderStatus">
        UPDATE order_d
        SET ord_d_status = #{ordDStatus}
        WHERE ord_d_cd = #{ordDCd}
    </update>
</mapper>
