<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbap.kbs.order.mapper.OrderMapper">
    <!-- 주문 등록 -->
    <insert id="insertOrderMaster" parameterType="com.kimbap.kbs.order.service.OrderVO">
        INSERT INTO order_list (
            ord_cd,
            cp_cd,
            ord_dt,
            note,
            deli_req_dt,
            deli_add,
            ex_pay_dt,
            ord_total_amount,
            regi,
            reg_dt,
            ord_status,
            is_used
        )
        VALUES (
            #{ordCd},
            #{cpCd},
            #{ordDt},
            #{note},
            #{deliReqDt},
            #{deliAdd},
            #{exPayDt},
            #{ordTotalAmount},
            #{regi},
            SYSDATE,
            #{ordStatus},
            #{isUsed}
        )
    </insert>

    <!-- 주문 상세 등록 -->
    <insert id="insertOrderDetail" parameterType="com.kimbap.kbs.order.service.OrderDetailVO">
        INSERT INTO order_d (
            ord_d_cd,
            ord_cd,
            pcode,
            prod_ver_cd,
            total_qty,
            unit_price,
            is_used
        )
        VALUES (
             #{ordDCd},
             #{ordCd},
             #{pcode},
             #{prodVerCd},
             #{totalQty},
             #{unitPrice},
             #{isUsed}
        )
    </insert>

    <!-- 오늘 날짜 기준 주문코드 최대값 조회 -->
    <select id="getLatestOrderCode" resultType="String">
        SELECT MAX(ord_cd)
        FROM order_list
        WHERE SUBSTR(ord_cd, 5, 4) = TO_CHAR(SYSDATE, 'YYYY')
    </select>

    <!-- 주문 상세 코드 자동 생성 -->
    <select id="getGeneratedOrderDetailCode" resultType="string">
        SELECT fn_create_pk_code('order_d') FROM dual
    </select>

    <!-- 주문 목록 조회 -->
    <select id="getOrderList" resultType="com.kimbap.kbs.order.service.OrderVO">
        SELECT 
            ol.ord_cd,
            ol.cp_cd,
            c.cp_name,
            ol.ord_dt,
            ol.deli_req_dt,
            ol.ex_pay_dt,
            ol.ord_status,
            ol.ord_total_amount,
            ol.note,
            ol.deli_add
        FROM order_list ol
        JOIN company c ON ol.cp_cd = c.cp_cd
        ORDER BY ol.ord_dt DESC
    </select>

    <!-- 주문 비활성화 -->
    <update id="deactivateOrder" parameterType="String">
        UPDATE order_list
        SET is_used = 'f2'
        WHERE ord_cd = #{ordCd}
    </update>

</mapper>
