html {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}

input:focus,
textarea:focus,
select:focus {
    outline-width: var(--focus-ring-width);
    outline-style: var(--focus-ring-style);
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    box-shadow: var(--focus-ring-shadow);
    transition:
        box-shadow var(--transition-duration),
        outline-color var(--transition-duration);
}
